{% extends 'admin/admin_base.html' %} 
{% load static %}

{% block title %} update_course {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/admin/course_update.css' %}"> {% endblock %}

{% block content %}
    <div class="add-update-container container">
        <div class="course-update-title">Update Course</div>
        <div class="course-update-form">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Update" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock %}