{% extends 'admin/admin_base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  course_detail
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/student/select_course.css' %}" />
{% endblock %}

{% block content %}
  <div class="course-select-container container">
    <div class="course-select-title py-2">Couse Detail</div>
    <div class="back-btn text-end">
      <a href="{% url 'course_list' %}" class="btn btn-outline-primary my-3">Back</a>
    </div>
    <div class="course">
      <table class="table-bordered"> 
            <tr>
                <th>Degree</th><td>{{ courses.degree }}</td>
            </tr>
            <tr>
                <th>Course Name</th><td>{{ courses.course_name}}</td>
            </tr>
            <tr>
                <th>Course Code</th><td>{{ courses.course_code}}</td>
            </tr>
             <tr>
                <th>Course Duration</th><td>{{ courses.course_duration}}</td>
            </tr>
             <tr>
                <th>Total Seats</th><td>{{ courses.total_seats}}</td>
            </tr>
            <tr>
                <th>Remaining Seats</th><td>{{ courses.remaining_seat}}</td>
            </tr>
             <tr>
                <th>Course Total Fee</th><td>Rs.{{ courses.course_fee}}</td>
            </tr>
             <tr>
                <th>Courses Added At</th><td>{{ courses.course_add_date}}</td>
            </tr>
            <tr>
                <th>Course Description</th><td>{{ courses.course_desc}}</td>
            </tr>
            <tr>
                <th>Minimum Requirement</th><td>
                  {{ courses.min_requirement|default:"No Specific requirements."|linebreaks}}</td>
            </tr>
        </table>
    </div>
  </div>
{% endblock %}
