{% extends 'admin/admin_base.html' %} 
{% load static %}

{% block title %} reports {% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/admin/reports.css' %}">
{% endblock %}


{% block content %}
   <div class="reprts-section container">
    <div class="reports-title py-4">Reports</div>
    <table class="table table-bordered">
        <tr>
            <td>Particulr</td><td>View</td><td>Download</td>
        </tr>
        <tr><th>Total Applicants</th>
        <td><a href="{% url 'total_applications' %}"><i class="fa-solid fa-eye text-center"></i></a></td>
        <td><a href="{% url 'export_total_applications' %}" class=""><i class="fa-solid fa-file-arrow-down text-success"></i></a>
         </td>
        </tr>

        <tr><th>Approved Applicants</th>
            <td><a href="{% url 'total_approved' %}"><i class="fa-solid fa-eye"></i></a></td>
            <td><a href="{% url 'export_approved_applications' %}" class=""><i class="fa-solid fa-file-arrow-down text-success"></i></a>
            </td>
        </tr>

        <tr><th>Rejected Applicants</th>
            <td><a href="{% url 'total_rejected' %}"><i class="fa-solid fa-eye"></i></a></td>
            <td><a href="{% url 'export_rejected_applications' %}" class=""><i class="fa-solid fa-file-arrow-down text-success"></i></a></td></tr>
            <tr><th>Pending Applicants</th>
            <td><a href="{% url 'total_pending' %}"><i class="fa-solid fa-eye"></i></td><td><i class="fa-solid fa-file-arrow-down text-success"></i></td></tr>
    </table>
   </div>
{% endblock %}