<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset_base/reset_confirm.css' %}" />
    <title>password-reset-confirm</title>
  </head>
  <body>
    <div class="password-reset-confirm">
      <div class="reset-header">Online Enrollment System</div>
      <div class="password-confirm-card">
        <div class="form-section">
          <form method="post">
            {% csrf_token %}
            <div>
              <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
              {{ form.new_password1 }}
            </div>

            <div>
              <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
              {{ form.new_password2 }}
            </div>

            <button type="submit">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
