<!DOCTYPE html>
{% load static  %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset_base/reset_form.css' %}">
    <title>password-reset-form</title>
  </head>
  <body>
    <div class="pasword-form-container">
      <div class="header-bar">
        <div class="header-title">Online Enrollment System</div>
      </div>

      <div class="reset-wrap">
        <div class="reset-card">
          <h2>Reset Your Password</h2>
          <p>Enter your email, and we’ll send you a link to reset your password.</p>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
