<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="password-reset-email">
        {# templates/password_reset/password_reset_email.html #}
        {% url 'password_reset_confirm' uidb64=uid token=token as reset_url %}
        <p>You're receiving this email because you requested a password reset for your account.</p>
        <p>Click the link below to choose a new password:</p>
        <p>
        <a href="{{ protocol }}://{{ domain }}{{ reset_url }}">Reset your password</a>
        </p>
        <p>If you didn’t request this, you can ignore this email.</p>


    </div>
</body>
</html>
