<!DOCTYPE html>
{% load static  %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset_base/reset_done_form.css' %}">
    <title>password-reset-done</title>
  </head>
  <body>
    <div class="password-reset-done">
            <div class="card">
                <div class="icon" aria-hidden="true"></div>
                <h2>Check Your Email</h2>
                <p>If the email exists in our system, a password reset link has been sent.</p>
            </div>
    </div>
  </body>
</html>
