{% extends 'student/student_base.html' %}

{% load static %}
{% block title %}
  Personal Information
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="" />
{% endblock %}

{% block body %}
  <div class="password-change-container">
    <h2 class="title">🔒 Change Password</h2>
    <form method="post" class="password-form">
         {% csrf_token %}

        <p>
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            {% if form.old_password.errors %}
            <div class="text-danger">{{ form.old_password.errors }}</div>
            {% endif %}
        </p>

        <p>
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {# No help_text displayed here #}
            {% if form.new_password1.errors %}
            <div class="text-danger">{{ form.new_password1.errors }}</div>
            {% endif %}
        </p>

        <p>
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            <div class="text-danger">{{ form.new_password2.errors }}</div>
            {% endif %}
        </p>

        <button type="submit">Change Password</button>
    </form>
  </div>
    
{% endblock %}

